body {
  height: 100vh;
}

body #headers {
  background-color: plum;
}

body .main {
  background-color: slateblue;
  height: 94vh;
}

body .main .fa {
  font-size: 34px;
}

body #footer {
  background-color: teal;
}
/*# sourceMappingURL=index.css.map */