body {
  height: 100vh;
  #headers {
    background-color: plum;
  }
  .main {
    background-color: slateblue;
    height: 94vh;
    .fa {
      font-size: 34px;
    }
  }
  #footer {
    background-color: teal;
  }
}
